{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <div class="flex items-center justify-between px-8 py-4 text-3xl font-bold">{% block title %}{% endblock %}</div>
    <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %} >
    <script src="{% static 'js/base_tag.js' %}"></script>
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="text-base">
        <base-tag></base-tag>
        <p>&copy; 2026 MrBook</p>
    </footer>
</body>
</html>
